<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.dao">
    <insert id="addLog" parameterType="Log">
        insert into Log(id, content) value (${id}, "${content}")
    </insert>
    <select id="findAllLog" resultType="Log">
        select * from Log
    </select>
</mapper>